NEED/
nfs.cue
nfs.bin
FD14BOOT.img
FD14-LiveCD.zip
FD14LIVE.iso
Need_for_Speed_SE.7z
Road & Track Presents - The Need for Speed SE (USA) (Rerelease).zip
/qemu-0.10.0/NEED.bat
/qemu-0.10.0/NFSSE.iso
/qemu-0.10.0/disk.img
/qemu-0.10.0/hda.img
/qemu-0.10.0/mydisk.img
/qemu-0.10.0/NEED/
/qemu-0.10.0/nfs.cue
/qemu-0.10.0/nfs.bin
/qemu-0.10.0/FD14BOOT.img
/qemu-0.10.0/FD14-LiveCD.zip
/qemu-0.10.0/FD14LIVE.iso
/qemu-0.10.0/Need_for_Speed_SE.7z
/qemu-0.10.0/Road & Track Presents - The Need for Speed SE (USA) (Rerelease).zip
# Ignore binary roms and icons
qemu-0.10.0.tar.gz
pcem/docs/pcem-meson-scripts.tar.bz2
pcem/nvr/*.bin
pcem/src/wx-ui/icons/*.png
pcem/src/wx-ui/icons/16x16/*.png
pcem/src/wx-ui/icons/24x24/*.png
pcem/src/wx-ui/icons/32x32/*.png
qemu-0.10.0/pc-bios/*.bin
qemu-0.9.1/pc-bios/*.bin

